body{
  background-color: white;
  }

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}

.navitem{
  font-size: 100%;
  color: black;
  font-family: 'Fjalla One', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Fjalla One', sans-serif;

}

#pf {
  width: 25%;
  border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
  margin-top: 5%;
  margin-bottom: 5%;
}

#info {
  width: 320px;
  height: 320px;
  font-size: 130%;
  word-spacing: 10px;
  line-height: 150%;
  font-family: 'Fjalla One', sans-serif;
  padding: 55px;
}

.container{
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

img {
  float: left;
}

#languages {
  column-count: 2;
  column-gap: 10%;
}

#media {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

@media screen and (max-width: 768px) {
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5px;
  }

  .navitem{
    font-size: 75%;
    color: black;
  }
  h1 {
    font-size: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #info {
    width: 75%;
    height: auto;
    font-size: 85%;
    padding: 3px;
  }

  #pf {
    width: 28%;
    box-shadow: 0px 0px 8px #888888;
    margin: 3px;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #languages {
    column-count: 2;
    column-gap: 10%;
  }

}
