.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}
#navitem {
  font-size: 100%;
  color: black;
  font-family: 'Fjalla One', sans-serif;
}

.grid-container{
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.grid-projects {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}


h1 {
  font-size: 120%;
  font-family: 'Fjalla One', sans-serif;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.flip-card {
  background: white;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display:flex;
  /* displaying flex will allow one to align the
  contents of the card vertically using column direction */
  flex-direction: column;
  min-height: 100%;
  top: 0;
  transition: all .1s ease-in;
  transform-style: preserve-3d;
}

.flip-card :hover {
  width: 102%;
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.3);
  cursor: pointer;
}

/* .grid-container:hover{
   width: 102%;
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.3);
  cursor: pointer;
} */
.card-inner {
   position: relative;
    width: 100%;
    height: 100%;

    transition: transform 0.3s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.card-back article {
  padding: 20px;
  font-family: 'Fjalla One', sans-serif;
}

.card-back {
  transform: rotateY(180deg);
  background-color: white;
  color: black;
  opacity: 0;
}
.card-front {
  transform: rotateY(deg0);
  opacity: 1;
}
.card1 h4 {
  margin: 0px;
  color: #333;
  font-family: 'Fjalla One', sans-serif;
}

.flip-card.flipped .card-inner{
  transform: rotateY(180deg);
}

.card-front, 
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-card.flipped .card-back {
  opacity: 1;
}

.flip-card.flipped .card-front {
  opacity: 0;
}

/* the padding dictates the amount of space the thumbnail will take
In other words, it increases/decreases the size that the image spans */
.thumbnail {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.cards {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  top: 0;
  transition: all .1s ease-in;
}

.cards:hover {
  width: 102%;
  top: -2px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}


 /* gives padding of words/article inside the card */
.cards article {
  padding:20px;
  font-family: 'Fjalla One', sans-serif;
}

/* remove margins from the header text */
.cards h4 {
  margin: 0px;
  color: black;
  font-family: 'Fjalla One', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

  .media {
    display: flex;
    justify-content: center;
    margin: 1em;
  }

.fa {
  font-size: 50px;
  padding: 1%;
  width: 2%;
  text-decoration: none;
  margin: 1em;
}

.media a {
  font-size: 140%;
}


/* screens larger than 500px will have 2 columns */
@media only screen and (min-width: 500px) {
  .grid-container{
    grid-template-columns: 1fr 1fr;
  }

  .grid-projects{
    grid-template-columns: 1fr 1fr;
  }
}
/* Screens larger than 850px will have 4 columns */
@media only screen and (min-width: 850px) {
  .grid-container {
    /* the grid-temp-col provides number of columns */
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid-projects{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
